@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html {
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  background: url('background3.jpg')center/cover no-repeat;
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
  /*overflow: auto;*/
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h3{
	margin-top: 30px;
	text-align: center;
}

h4{
	text:bold;
}

img{
	margin-left:100px;
	padding:10px;
	height:auto;
	width:50%;
}

.container {
  perspective: 1000px;
  margin-bottom: 50px;
}

button {
  background-color: #daa520; /* gold */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 70px;
  margin-bottom: 30px;
}

button:hover {
  background-color: #000000; /* black */
  transform: scale(1.1); /* increase size on hover */
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b36b00;
  color: white;
  text-align: center;
}

